.header {
    display: flex;
    height: 100px;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
    padding-left: 37%;
    padding-right: 3%;
}
 
.header > .text {
    font-size: 30px;
}

.header > .homepage {
    font-size: 12px;
    background-color: lightgreen;
}